---
import BlogPost from '../components/BlogPost.astro';
import Layout from '../layouts/Layout.astro'
const allPosts = await Astro.glob('../pages/posts/*.md');
---


<Layout title="Kotoã®Output | blog">
  <nav class="blog-master">
    <p>This is where I will post about my journey learning Astro.</p>
    <div class="search-tags">
      <p>Search with Tags</p>
      <a href="/tags/">All Tags</a>
    </div>
    <ul class="post-card">
    {
      allPosts.map((post) => 
      <li>
        <BlogPost post={post}/>
      </li>)
    }
    </ul>
  </nav>
  
</Layout>

<style>
  ul {
    list-style: none;
    padding: 0;
  }
  .post-card {
    display: grid;
    grid-gap: 1rem;
  }
  .search-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .blog-master {
    margin: 0 auto;
    max-width: 80ch;
  }
</style>