---
const platform = "twitter";
---

<footer>
    <p>
      Learn more about me on
      <a
      href="https://twitter.com/kotoganaiyo"
      target="_blank"
      rel="noopener noreferrer">{platform}</a>
    </p>
</footer>

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
</style>