---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
const { current = '' } = Astro.props;
---
<header>
 <nav>
    <Hamburger />
    <Navigation current={current}/>
 </nav>
</header>

<style>
   header {
     margin: 0 auto;
     max-width: 1400px;
     width: 100%;
   }
 </style>